* {
  font-family: Arial, Helvetica, sans-serif;
  color: #231F20;
  font-weight: bold;

}

body 
{
  background-color: #403F4C;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

#new-chore
{
  margin: 20px;
  align-self: center;
  background-color: #D8E2DC;
  border-radius: 10px;
  border: none;
  user-select: none;
  box-shadow: 1px 5px 0px 1px #95B1A0;
  padding: 10px;

  &:active
  {
    box-shadow: 1px 1px 0px 1px #688D77;
    transform: translateY(4px);
  }
}

#chores
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chore
{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #7B7A90;
  border-radius: 15px;
  border: none;
  user-select: none;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px #5E5D6E;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chore-row-1
{
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  align-items: baseline;
}

.chore-button
{
  align-self: flex-end;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  border: none;
  user-select: none;
  padding: 10px;
  
  &:active
  {
    transform: translateY(4px);
  }

  &:hover
  {
    transition: 0.1s;
  }
}

#finished-button 
{
  background-color: #81B29A;
  box-shadow: 1px 5px 0px 1px #5E8C7B;

  &:active
  {
    background-color: #81B29A;
    box-shadow: 1px 1px 0px 0px #3E6654;
  }

  &:hover
  {
    background-color: #A3C4BC;
  }
}

#delete-button 
{
  background-color: #E07A5F;
  box-shadow: 1px 5px 0px 1px #B85C43;

  &:active
  {
    background-color: #E07A5F;
    box-shadow: 1px 1px 0px 0px #8E3E2A;
  }

  &:hover
  {
    background-color: #F28482;
  }
}

.chore-input
{
  border: none;
  outline: none;
  appearance: none;
  background-color: #9190A2;
  border-radius: 10px;
  padding: 10px;
  width: 100%;

  transition: 0.5s;

  &:hover
  {
    transition: 0.5s;
    background-color: #A3A2B4;
  }
}

.chore-timestampt
{
  align-self: flex-start;
  color: #615659;
  font-size: 12px;
  margin-right: auto;
  grid-column: 1 / 2;
  grid-row: 1;
}


.chore-title {
  border: none;
  outline: none;
  background: none;
  appearance: none;
  font-size: 50px;
  transition: color 0.3s;
  width: 98%;

  &:hover {
    color: #403F4C;
    transition: color 0.3s;
  }


}
